body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
#app {
    padding: 20px;
}

.columns {
    display: flex;
    justify-content: space-between;
}
.column {
    flex: 1;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.column.blocked {
    opacity: 0.5;
    pointer-events: none;
}
.card {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}